<div class="section list">
<h2>Sections</h2>

<table class="listing" summary="Section list">
	<tr class="header">
		<th>&nbsp;</th>
		<th>Section</th>
		<th>Visible</th>
		<th>Pages</th>
		<th>Actions</th>
	</tr>
	
<% @sections.each do |section| %>
<tr>
	<td><%= section.position %></td>
	<td><%= section.name %></td>
	<td class="center"><%= status_tag(section.visible) %></td>
	<td class="center"><%= section.pages.size %></td>
	<td class="actions">
	<%= link_to("Show", {:action => 'show', :id => section.id}, :class => 'action show') %>
	<%= link_to("Edit", '#', :class => 'action edit') %>
	<%= link_to("Delete", '#', :class => 'action delete') %>	
	</td>
	</tr>
<% end %>
</table>
