- if !flash[:notice].nil?
  .notice
    = flash[:notice]
.subject.list
  %h2 Subjects
  .add_new
  = link_to("Add New Subject", {:action => 'new'}, :class => 'action new')
  %div
  = pluralize(@subjects.size, 'subject')
  found
  %table.listing{:summary => "Subject list"}
    %tr.header
      %th  
      %th Subject
      %th Visible
      %th Pages
      %th Actions		
    - @subjects.each do |subject|
      %tr{:class => cycle('odd', 'even')}
        %td= subject.position
        %td= subject.name
        %td.center= status_tag(subject.visible)
        %td.center= subject.pages.size
        %td.actions
          = link_to("Show", {:action => 'show', :id => subject.id}, :class => 'action show')
          = link_to("Edit", {:action => 'edit', :id => subject.id}, :class => 'action edit')
          = link_to("Delete", {:action => 'delete', :id => subject.id}, :class => 'action delete')
